.left,.center,.right{
    border: solid black 1px;
    background-color: white;
}
.container{
    padding: 20px;
    background-color: #eee;
    min-width: 600px;
    border: solid black 1px;
    overflow: hidden;

}
.left{
    float: left;
    width: 200px;
    height: 120px;
    display: block;
    padding: 20px;
}
.right{
    float: right;
    width: 120px;
    display: block;
}
.center{
    margin-left: 240px;
    margin-right: 160px;
    padding: 20px;
    width: auto;
}
.left p{
}
.right img{
    margin:20px;
    border: solid black 1px;
}
div{
    box-sizing: border-box;
}
*{
    font-family: "Microsoft YaHei";
}
